# This is a template for the Ansible inventory file.
# It is used by Terraform to generate the inventory.ini file.
[eqvilent]
rocky ansible_host=${ipa_ip} ansible_user=root
app ansible_host=${app_ip} ansible_user=root